@font-face {
    font-family: titaniaText;
    src: url(../../assets/fonts/titania/Titania-Regular.ttf)}

.CartViewDetails{
    display: flex;
}    

.CartView>h3{
    margin-bottom: 15px;
}

.CartViewContainer>*{
    margin:20px;
}

.CartViewDetails>*{
    margin: 10px;
    color: rgba(49, 47, 47, 0.548);
}

h5{
    font-family: titaniaText;
}

.link{
    color: violet;
}

.CarritoVacio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 100vw;
}