@font-face {
    font-family: titaniaText;
    src: url(../../../assets/fonts/titania/Titania-Regular.ttf)}

.widget {
    display: flex;
    background-color: rgb(161, 184, 226);
}

.widget>*{
    padding: 10px;
}

